<%- include("partials/head", { title: "Dashboard" })  %>
<body>
    <h3>Dashboard</h3> 
    <%- include("partials/navbar", { user }) %>


    <%- include("partials/footer", { title: "Dashboard" })  %>
</body>
</html>