<%- include("partials/head", { title: "Home" })  %>
<body>
    Hello from index.ejs

    <%- include("partials/navbar", { user }) %>


    <%- include("partials/footer", { title: "Home" })  %>
</body>
</html>